@model VolunteerHourLog.ViewModels.VolunteerViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>VolunteerEvent</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.VolunteerEvent.VolunteerDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VolunteerEvent.VolunteerDate)
            @Html.ValidationMessageFor(model => model.VolunteerEvent.VolunteerDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VolunteerEvent.ZIPcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VolunteerEvent.ZIPcode)
            @Html.ValidationMessageFor(model => model.VolunteerEvent.ZIPcode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VolunteerEvent.Hours)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VolunteerEvent.Hours)
            @Html.ValidationMessageFor(model => model.VolunteerEvent.Hours)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VolunteerEvent.Topic)
        </div>
        <div class="editor-field">
         
            @Html.DropDownList("VolunteerTopicID",(SelectList) ViewBag.VolunteerTopicID)
            @Html.ValidationMessageFor(model => model.VolunteerEvent.Topic)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
