@model IEnumerable<VolunteerHourLog.Models.VolunteerEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            VolunteerDate
        </th>
        <th>
            ZIPcode
        </th>
        <th>
            Hours
        </th>
        <th>
            Topic
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZIPcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VolunteerEventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VolunteerEventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VolunteerEventID })
        </td>
    </tr>
}

</table>
